.social {
    height: 150px;
    position: fixed;
    top: 20rem;
    left: 4rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__text {
        font-family: 'Gilroy Bold';
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        transform: rotate(90deg);
    }
    &__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
            color: #FFFFFF;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    &__link {
        margin-top: 24px;
    }
}