.start {
    height: 150px;
    position: fixed;
    top: 20rem;
    right: 4rem;
    z-index: 10;
    display: flex;
   /*  flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    &__wrapper {
        height: 200px;
        margin-right: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
            color: #FFFFFF;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    &__item {
        font-family: 'Gilroy Bold';
        font-size: 18px; 
        line-height: 22px;
        text-align: right;
        color: #FFFFFF;
        text-decoration: none;

    }
    &__scrollbar {
        width: 3px;
        height: 240px;
        background: #FFFFFF;
        opacity: 0.5;
        ::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    
    
}